.contain-items{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 2em;
  width: 100%;

  app-offer-item:first-child {
    grid-column: 1/4;
    
    @media (max-width: 992px) {
      grid-column: auto;
    }
  }

  @media (max-width: 576px) {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}